@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.link-button {
		@apply cursor-pointer border-2 border-buttonBorderColor bg-buttonBackgroundColor p-1 px-3 px-4  font-mono text-buttonBorderColor hover:border-[--hover-color] hover:text-[--hover-color];
	}
}

:root {
	--background-color: 19, 31, 37;
	--dropdown-hover-color: 121, 150, 163;
	--dropdown-selected-color: 121, 150, 163;
	/*--header-color: 52, 62, 68;*/
	--text-color: 255, 255, 255;
	--header-color: #343e44;
	--header-footer-separator-color: #7996a3;
	--hover-color: #7996a3;
	--buttonBorderColor: 255, 209, 17;
}
.h-65 {
	height: 65vh;
}
.hint {
	font-size: 70%;
}
.opacity-30 {
	opacity: 0.3;
}
.w-min-2 {
	min-width: 2.5rem;
}
.w-15-percent {
	width: 15%;
}
.w-20-percent {
	width: 20%;
}
.w-25-percent {
	width: 25%;
}
.w-30-percent {
	width: 30%;
}
.w-80-percent {
	width: 80%;
}

input {
	accent-color: rgb(var(--buttonBorderColor));
}

input:invalid {
	border-color: lightpink !important;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */

body {
	background-color: rgba(var(--background-color), 1);
	font-family: sans-serif;
	color: rgba(var(--text-color), 1);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content {
	flex-grow: 1;
}

.mx-8 {
	margin-left: 2rem;
	margin-right: 2rem;
}

.logo {
	height: 3.6vh;
	width: auto;
}

.logo-container {
	display: flex;
	align-items: center;
	background: rgba(var(--header-color), 1);
}

a {
	cursor: pointer;
}

a:only-child:hover {
	color: rgb(var(--hover-color));
}

/* @layer utilities { */
/* 	.text-balance { */
/* 		text-wrap: balance; */
/* 	} */
/* } */
