@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: 19, 31, 37;
	--header-color: 52, 62, 68;
	--text-color: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */

body {
	background-color: rgba(var(--background-color), 1);
	font-family: sans-serif;
	color: rgba(var(--text-color), 1);
}

/* @layer utilities { */
/* 	.text-balance { */
/* 		text-wrap: balance; */
/* 	} */
/* } */
